<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Varukorg</title>
</head>
<body>
<h1>Order List</h1>
<h3>Thank you for shopping.</h3>
<div th:each="item, loopInfo: ${mycart.cartList}">
  Name:<span th:text="${item.product.name}"></span>
  Price:<span th:text="${item.product.price}"></span>
  Amount:<span th:text="${item.amount}"></span>
  Total cost:<span th:text="${item.sum}"></span>
<!--  <form action="/addOrder" method="post">-->
<!--    <input type="hidden" name="itemIndex" th:value="${loopInfo.index}"/>-->
<!--  </form>-->
</div>
<a href="/">Back to Main Menu</a>
</body>
</html>


