<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
<h1>Create your own product</h1>
<form th:action="@{/newproduct}" method="post" th:object="${product}">
  <p th:text="${productmessage}"><p/>
    Name: <input type="text" th:field="*{name}"/> </br>
    Price: <input type="text" th:field="*{price}"/>
    Category:<select th:field="*{category}">
            <option th:each="cat : ${T(com.example.webshoplabb.shop.Category).values()}" th:value="${cat}" th:text="${cat}"></option>
            </select>
    <input type="submit" value="New Product">
  </form>
</body>
</html>