<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Webshop</title>
</head>
<h1>Produkter</h1>
<body>
<form>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Add</th>
      <th>Update</th>
    </tr>
    <tr th:each="product : ${products}">
      <td th:text="${product.getName}"></td>
      <td th:text="${product.getPrice}"></td>
    <td><a th:href="@{'/create/' + ${product.id}}">Lägg till</a>
    <td><a th:href="@{'/update/' + ${product.id}}">uppdatera</a>
    </td>
    </tr>
  </table>
</form>
</body>
</html>
<a href="create">Skapa produkt</a>
<p>
<a href="varukorgen">Varukorgen</a></br>
</p>
<a href="/">Back to login page</a>
</body>
</html>