<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Varukorg</title>
</head>
<body>
<h1>Din varukorg</h1>
<div th:each="item, loopInfo: ${mycart.cartList}">
    Name:<p th:text="${item.product.name}"></p>
    Price:<p th:text="${item.product.price}"></p>
    Amount:<p th:text="${item.amount}"></p>
    <form action="adjust" method="post">
        <input type="submit" name="cartIndex" th:value="${loopInfo.index}"/>
    </form>
</div>
<a href="/newproduct">Create your own product</a>
<a href="/shop-products">Back to Shop page</a>
<a href="/">Back to Main Menu</a>
</div>
</body>
</html>


