<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Varukorg</title>
</head>
<body>
<h1>Din varukorg</h1>
<div th:each="cart: ${cartList}">
    Name:<p th:text="${orderitem.product.Getname}"></p>
    Price:<p th:text="${orderitem.product.Getprice}"></p>
    Amount:<p th:text="${orderitem.Getamount}"></p>
</div>
<a href="/create">Lägg till egen produkt</a>
<a href="/shop">Back to Shop</a>
<a href="/">Back to Main Menu</a>
</div>
</body>
</html>


