<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Varukorg</title>
</head>
<body>
<h1>Din varukorg</h1>
<div th:each="item, loopInfo: ${mycart.cartList}">
    Name:<span th:text="${item.product.name}"></span>
    Price:<span th:text="${item.product.price}"></span>
    Amount:<span th:text="${item.amount}"></span>
    <form action="/removeproductfromcart" method="post">
        <input type="hidden" name="itemIndex" th:value="${loopInfo.index}"/>
        <input name="removeItem" type="submit" value="Remove Product"/>
    </form>
</div>

<!--<a href="/newproduct">Create your own product</a>-->
<h3><a href="/order">Place order</a></h3>
<a href="/shop-products">Back to Shop page</a>
<a href="/">Back to Main Menu</a>
</body>
</html>


