<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Uppdatera Produkt</title>
</head>
<body>
    <h1>Uppdatera</h1>
    <form action="/update" method="post">
        <div>
            <input type="hidden" name="id" th:value="${product.id}">
            <input type="text" name="name" th:value="${product.name}">
        </div>
        <div>
            <input type="text" name="price" th:value="${product.price}">
        </div>
        <button type="submit">Uppdatera</button>
    </form>
</body>
</html>